$max-width: 1200px;
$gutter: 20px;
$font-main: "Lora", "Times New Roman", serif;
$font-header: "Roboto Mono", "Courier New", monospace;
$primaryBlack: #000;
$primaryDarkGray: #999;
$primaryMediumGray: #aaa;
$primaryLightGray: #ccc;
$primaryLightYellow: #fcffd2;
$primaryLightGreen: #2d2;
$primaryDarkGreen: #1a1;
$primaryRed: #cc9694;


// div {
//   villa-fjarlægðu-mig;
//   stylelint-ætti-að-kvarta;
// }
