@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

.grid {
  padding-right: $gutter;
  padding-left: $gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5*$gutter;
  margin-left: -0.5*$gutter;
}

.col {
  display: flex;
  flex-direction: row;
  padding-right: 0.5*$gutter;
  padding-left: 0.5*$gutter;
}

.col-sm-12 {
  width: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 501px) {
  .col-4 {
    width: 33.33%;
  }
}

.filter {
  margin: auto;
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: $gutter;
  margin-bottom: $gutter;
  border: 1px solid #000;
  background-color: $primaryLightGray;
}

.box--category {
  padding: 0;
}

.box--heading {
}

.box--img { /* stylelint-disable-line */
  max-width: 100%;
  // flex-grow: 100;
}

.button {
  padding: 0.5*$gutter $gutter 0.5*$gutter $gutter;
  margin: $gutter;
  // font-family: "Open Sans";
  background-color: $primaryLightGray;
  border: 0;
  border-radius: 8px;
  transition: color 300ms ease-in-out, background-color 200ms ease-in-out;
}

.button:hover {
  background-color: $primaryDarkGray;
}

// TODO import
