@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

.header {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.header__p {
  padding-top: $gutter*6;
  font-family: $font-header;
  font-size: $gutter;
  text-transform: uppercase;
}

.header__header {
  padding-bottom: $gutter*7;
  font-family: $font-header;
  font-size: $gutter*2;
  font-weight: bold;
}

.grid {
  padding-right: $gutter;
  padding-left: $gutter;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5*$gutter;
  margin-left: -0.5*$gutter;
}

.col {
  display: flex;
  padding-right: 0.5*$gutter;
  padding-left: 0.5*$gutter;
  flex-direction: row;
}

.col-sm-12 {
  width: 100%;
}

@media screen and (min-width: 501px) {
  .col-4 {
    width: 33.33%;
  }
}

.filter {
  margin: auto;
  text-align: center;
}

.box {
  display: flex;
  width: 100%;
  margin-top: $gutter;
  margin-bottom: $gutter;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $primaryLightGray;
  border: 1px solid #000;
}

.box--category {
  padding: 0;
  padding-top: $gutter*0.5;
  text-transform: uppercase;
}

.box--heading {
  padding-bottom: $gutter*0.5;
  font-family: $font-header;
  font-size: $gutter*1.5;
  font-weight: bold;
}

.box--img { /* stylelint-disable-line */
  max-width: 100%;
  opacity: 0.6;
}

.button {
  padding: 0.5*$gutter $gutter 0.5*$gutter $gutter;
  margin: $gutter;
  background-color: $primaryLightGray;
  border: 0;
  border-radius: 8px;
  transition: color 300ms ease-in-out, background-color 200ms ease-in-out;
}

.button:hover {
  background-color: $primaryDarkGray;
}

.button--enabled {
  background-color: $primaryLightGreen;
}

.col-8 {
  display: flex;
  width: 67%;
  margin: auto;
}

.video {
  flex-grow: 1;
  height: 45vh;
  margin: 2*$gutter $gutter $gutter $gutter;
}

.lectureText {
  margin: $gutter;
  line-height: 1.5*$gutter;
}

.lectureText br {
  display: block;
  margin-bottom: $gutter;
  font-size: 24%;
  content: "";
}

.lectureImg {
  display: flex;
  margin-top: $gutter;
  margin-bottom: $gutter;
  font-style: italic;
  flex-direction: column;
}

.lectureImg:first-child,
.lectureImg:last-child {
  margin: 0 $gutter 0 $gutter;
}

.quote {
  display: flex;
  padding: $gutter;
  margin-top: $gutter;
  margin-bottom: $gutter;
  flex-direction: column;
  background-color: #ccc;
}

.quote--text {
  margin-bottom: $gutter;
}

.quote--cite {
  font-style: italic;
}

.quote--cite::before,
.quote--cite::after {
  content: "";
}

.lectureh2 {
  padding: $gutter $gutter 0 $gutter; //20px 20px 0 20px;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 32px;
}

.lectureList {
  display: flex;
  margin-top: $gutter;
  flex-direction: column;
}

.lectureList--li {
  margin-bottom: $gutter;
  margin-left: $gutter;
}

.lectureCode {
  display: block;
  padding: 20px;
}

.buttonContainer {
  display: flex;
  margin-top: 2*$gutter;
  font-size: 16px;
  flex-direction: column;
}

.lectureButton {
  margin: $gutter auto $gutter auto;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 1em;
  background-color: transparent;
  border: 0;
}

.backButton {
  margin: $gutter auto 3*$gutter auto;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 1em;
  background-color: transparent;
  border: 0;
}

header {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-position: 50% 10%;
  background-size: cover;
  opacity: 0.6;
}

.box--checked {
  padding-bottom: 0.5*$gutter;
  font-size: 48px;
  color: #2d2;
  flex-direction: column;
  align-self: flex-end;
}

.box--heading--container {
  display: flex;
  padding: 0 0.5*$gutter 0 0.5*$gutter;
  flex-direction: row;
  justify-content: space-between;
}

.box--heading--category {
  display: flex;
  flex-direction: column;
}

.button--enabled:hover {
  background-color: #1a1;
}

.box:hover {
  background-color: #aaa;
}

.lectureButton--checked {
  margin-top: 16px;
  color: #2d2;
}
