@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

.header {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.header__p {
  padding-top: $gutter*6;
  font-family: $font-header;
  font-size: $gutter;
}

.header__header {
  padding-bottom: $gutter*7;
  font-family: $font-header;
  font-size: $gutter*2;
  font-weight: bold;
}

.grid {
  padding-right: $gutter;
  padding-left: $gutter;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5*$gutter;
  margin-left: -0.5*$gutter;
}

.col {
  display: flex;
  padding-right: 0.5*$gutter;
  padding-left: 0.5*$gutter;
  flex-direction: row;
}

.col-sm-12 {
  width: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 501px) {
  .col-4 {
    width: 33.33%;
  }
}

.filter {
  margin: auto;
  text-align: center;
}

.box {
  display: flex;
  width: 100%;
  margin-top: $gutter;
  margin-bottom: $gutter;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $primaryLightGray;
  border: 1px solid #000;
}

.box--category {
  padding: 0;
  padding-top: $gutter*0.5;
  text-transform: uppercase;
}

.box--heading {
  padding-bottom: $gutter*0.5;
  font-family: $font-header;
  font-size: $gutter*1.5;
  font-weight: bold;
}

.box--img { /* stylelint-disable-line */
  max-width: 100%;
  opacity: 0.6;
  // flex-grow: 100;
}

.button {
  padding: 0.5*$gutter $gutter 0.5*$gutter $gutter;
  margin: $gutter;
  // font-family: "Open Sans";
  background-color: $primaryLightGray;
  border: 0;
  border-radius: 8px;
  transition: color 300ms ease-in-out, background-color 200ms ease-in-out;
}

.button:hover {
  background-color: $primaryDarkGray;
}

.button--enabled {
  background-color: $primaryLightGreen;
}

.video {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}

.lectureText {

}

.lectureImg {

}

.quote {

}

.quote--text {

}

.quote--cite {

}

.lectureh2 {

}

.lectureList {

}

.lectureList--li {

}

.lectureCode {

}

.lectureButton {

}

.backButton {
  
}

header {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-position: 50% 10%;
  background-size: cover;
  opacity: 0.6;
}

// TODO import
